<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!--<meta http-equiv="X-UA-Compatible" content="IE=edge">-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
</head>
<body>
    <header>
        <img src="/images/logo-mercado-liebre.svg" alt="Logo de Mercado Liebre">
        <p>Lugar para poner la barra de búsqueda</p>
        <p>Compra en cuotas y sin tarjeta de crédito</p>
        <nav>
            <ul>
                <li> <a href="https://www.google.com.ar">Ofertas</a></li>
                <li> <a href="https://www.google.com.ar">Tiendas Oficiales</a></li>
                <li> <a href="https://www.google.com.ar">Vender</a></li>
                <li> <a href="https://www.google.com.ar">Ayuda</a></li>
            </ul>
            <ul>
                <li> <a href="https://www.google.com.ar">Creá tu cuenta</a></li>
                <li> <a href="https://www.google.com.ar">Ingresá</a></li>
                <li> <a href="https://www.google.com.ar">Mis compras</a></li>
            </ul>
        </nav>
        
    </header>
    <main>
        <img src="/images/img-home-banner.jpg" alt="Banner del sitio">
        <nav>
            <h2>Basado en tu última visita</h2>
            <img src="/images/img-cafetera-moulinex.jpg" alt="Imagen de Cafetera Moulinex">
            <p>$6.770</p>
            <p>40% OFF</p>
            <p>Cafetera Moulinex</p>
            <img src="/images/img-macbook-pro-2019.jpg" alt="Imagen de Cafetera Moulinex">
            <p>$230.000</p>
            <p>20% off</p>
            <p>MacBook Pro 2019</p>
            <img src="/images/img-samsung-galaxy-s10.jpg" alt="Imagen de Cafetera Moulinex">
            <p>$70.500</p>
            <p>10% off</p>
            <p>Samsung Galaxy S10</p>
            <img src="/images/img-tv-samsung-smart.jpg" alt="Imagen de Cafetera Moulinex">
            <p>$23.200</p>
            <p>5% off</p>
            <p>SmartTv Samsung 43</p>
            <h3>Ofertas</h3>
            <img src="/images/img-cafetera-moulinex.jpg" alt="Imagen de Cafetera Moulinex">
            <p>$6.770</p>
            <p>40% OFF</p>
            <p>Cafetera Moulinex</p>
            <img src="/images/img-macbook-pro-2019.jpg" alt="Imagen de Cafetera Moulinex">
            <p>$230.000</p>
            <p>20% off</p>
            <p>MacBook Pro 2019</p>
            <img src="/images/img-samsung-galaxy-s10.jpg" alt="Imagen de Cafetera Moulinex">
            <p>$70.500</p>
            <p>10% off</p>
            <p>Samsung Galaxy S10</p>
            <img src="/images/img-tv-samsung-smart.jpg" alt="Imagen de Cafetera Moulinex">
            <p>$23.200</p>
            <p>5% off</p>
            <p>SmartTv Samsung 43</p>        
        </nav>
    </main>
    <footer>
        <h4>Pagá con tarjeta o en efectivo</h4>
        <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
            puntos de pago. ¡Y siempre es seguro!</p>
        <h4>Envío gratis desde $ 2.500</h4>
        <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
            productos. Es un beneficio de Mercado Puntos.</p>
        <h4>Seguridad, de principio a fin</h4>
        <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
            porque estás siempre protegid@.</p>
        <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
    </footer>
</body>
</html>