<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!--<meta http-equiv="X-UA-Compatible" content="IE=edge">-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@100&display=swap" rel="stylesheet">
    <link href="/css/styles.css" rel="stylesheet">
    <title>Mercado Liebre</title>
</head>
<body>
    <header>
        <img class=logo src="/images/logo-mercado-liebre.svg" alt="Logo de Mercado Liebre">
        <div class="box">
            <div class="container-1">
                <input type="search" id="search" placeholder="Buscar productos, marcas" />
                <span class="icon"><i class="fa fa-search"></i></span>
            </div>
          </div>
          <h6><i class="fas fa-solid fa-hand-holding-dollar"></i>Compra en cuotas y sin tarjeta de crédito</h6>

        <div>
            <p> <a href=>Ofertas</a></p>
            <p> <a href=>Tiendas Oficiales</a></p>
            <p> <a href=>Vender</a></p>
            <p> <a href=>Ayuda</a></p>
        </div>
        <div>
            <p> <a href=>Creá tu cuenta</a><i class="fas fa-solid fa-address-card"></i></p>
            <p> <a href=>Ingresá</a><i class="fas fa-solid fa-arrow-right-to-bracket"></i></p>
            <p> <a href=>Mis compras</a><i class="fas fa-regular fa-bag-shopping"></i></p>
        </div>
        <div class="burger-menu">
            <i class="fas fa-bars"></i>
        </div>
    </header>
    <main>
        <img class="banner" src="/images/img-home-banner.jpg" alt="Banner del sitio">
        <nav>
            <h2>Basado en tu última visita</h2>
            <img src="/images/img-cafetera-moulinex.jpg" alt="Imagen de Cafetera Moulinex">
            <p class="precios">$6.770</p>
            <p class="descuentos">40% OFF</p>
            <p class="descripciones">Cafetera Moulinex</p>
            <img src="/images/img-macbook-pro-2019.jpg" alt="Imagen de Cafetera Moulinex">
            <p class="precios">$230.000</p>
            <p class="descuentos">20% off</p>
            <p class="descripciones">MacBook Pro 2019</p>
            <img src="/images/img-samsung-galaxy-s10.jpg" alt="Imagen de Cafetera Moulinex">
            <p class="precios">$70.500</p>
            <p class="descuentos">10% off</p>
            <p class="descripciones">Samsung Galaxy S10</p>
            <img src="/images/img-tv-samsung-smart.jpg" alt="Imagen de Cafetera Moulinex">
            <p class="precios">$23.200</p>
            <p class="descuentos">5% off</p>
            <p class="descripciones">SmartTv Samsung 43</p>
            <h3>Ofertas</h3>
            <img src="/images/img-cafetera-moulinex.jpg" alt="Imagen de Cafetera Moulinex">
            <p class="precios">$6.770</p>
            <p class="descuentos">40% OFF</p>
            <p class="descripciones">Cafetera Moulinex</p>
            <img src="/images/img-macbook-pro-2019.jpg" alt="Imagen de Cafetera Moulinex">
            <p id="precios">$230.000</p>
            <p class="descuentos">20% off</p>
            <p class="descripciones">MacBook Pro 2019</p>
            <img src="/images/img-samsung-galaxy-s10.jpg" alt="Imagen de Cafetera Moulinex">
            <p class="precios">$70.500</p>
            <p class="descuentos">10% off</p>
            <p class="descripciones">Samsung Galaxy S10</p>
            <img src="/images/img-tv-samsung-smart.jpg" alt="Imagen de Cafetera Moulinex">
            <p class="precios">$23.200</p>
            <p class="descuentos">5% off</p>
            <p class="descripciones">SmartTv Samsung 43</p>        
        </nav>
        
    </main>
    <footer>
        <h4>Pagá con tarjeta o en efectivo</h4>
        <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
            puntos de pago. ¡Y siempre es seguro!</p>
        <h4>Envío gratis desde $ 2.500</h4>
        <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
            productos. Es un beneficio de Mercado Puntos.</p>
        <h4>Seguridad, de principio a fin</h4>
        <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
            porque estás siempre protegid@.</p>
        <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
    </footer>
</body>
</html>