:root{
    --Amarillo: #EAC926;
    --Azul: #03264C;
    --Celeste: #1259c3;
    --Gris_oscuro: #666;
    --Gris_claro: #ebebeb;
    --Verde: #39b54a;
}
body{
    width: 100vw;
    margin-bottom: 5px;
    margin:0%;

}
header {
    background-color: var(--Amarillo);
    width: 100vw;
    padding: 10px;
}
.banner {
    width: 100vw;
}
main{
    width: 100vw;
}
img{
    width: 100vw;
}
.logo{
    width: 40%;
    height: 40%;
}
.titulares{
    font-size: 24px;
}

p{
    font-size: 12px;
    line-height:0%;
}
p.precios {
    font-size: 18px;
}

p.descuentos{
    font-size: 16px;
}

p.descripciones{
    font-size: 16px;
}

.burger-menu{
    
    text-align: center;
    font-weight: bold;
    color: #ebebeb;
    
}
.fa-bars:before{
    background-color: var(--Celeste);
    border-radius: 10%;
    padding: 5px;
    margin-bottom: 7vw;
    width: auto;
}
h6{
    text-align: center;
    margin-block-start: 20px;
    margin-block-end: 10px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.fas{
    
    line-height:0;
}
footer {
    text-align: center;
    width: 100vw;
}
.menu{
    padding: 5px 0px 5px 0px;
    margin: -10px;
}
